html {
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;

    background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
}

/* 
    Bootstrap Default Customized
*/

.card {
    background-color: transparent;
    background-image: radial-gradient(farthest-corner at 30% 40%, rgba(27, 65, 120, 0.6), rgba(27, 65, 120, 0.8), rgba(126, 14, 122, 0.6));
    border: 1px solid rgb(77 61 120);
}

.card-header {
    background-color: transparent;
    padding: 1.2rem 1rem;
}

.form-control {
    background-color: transparent;
    background-image: radial-gradient(farthest-corner at 10% 10%, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    transition: 0.2s all;
}

.form-control:disabled, .form-control[readonly] {
    opacity: 0.4;
}

.btn {
    border-radius: 5px;
    padding: .4rem 1.2rem;
}
.btn-sm {
    border-radius: 5px;
    padding: .3rem 1rem;
    font-size: .74rem;
}

.btn-primary {
    background-image: radial-gradient(farthest-corner at 0px 0px, #f35 0%, #be15a2 100%);
    border-color: rgba(126, 14, 122, 0.6);
    font-weight: 700;
    background-color: #be15a2;
    transition: 0.3s all;
    outline: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-image: none;
    border-color: rgba(126, 14, 122, 0.6);
    background-color: #f35;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    box-shadow: none;
}
.btn-primary:hover {
    transform: scale(1.1);
}
.btn-primary:active:focus {
    transform: translateY(0.125rem);
}

/* 
    Custom Styles
*/

/* Submit Loader */
.submit-loader-btn {
    position: relative;
    display: inline-block;
}
.submit-loader-btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(0,0,0,0.2), transparent);
    opacity: 0.5;
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
}
.loader-icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}
.submit-loader-btn.active .loader-btn {
    opacity: 0.6;
}
.submit-loader-btn.active .loader-icon {
    opacity: 1;
}
.submit-loader-btn.active:before {
    opacity: 1;
    pointer-events: all;
}

/* 
    Search Results
*/

.search-result {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
}

.search-result-img-no,
.search-result-img {
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.search-result-img-no img,
.search-result-img img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}

.search-result-img-play {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.9em;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s all;
}

.search-result-img:hover .search-result-img-play {
    opacity: 1;
}

.search-result-img-duration {
    position: absolute;
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 900;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    pointer-events: none;
}

.search-result-text h5,
.search-result-text p {
    margin: 0;
    padding: 0;
}

.search-result-text h5 {
    font-size: 1rem;
    font-weight: 900;
}

.search-result-text p {
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.8;
}

p.search-result-album {
    background-color: rgba(0,0,0,.2);
    padding: 1px 5px;
    font-size: 0.7rem;
    margin-left: -8px;
    opacity: 0.7;
}

.search-result-source {
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.search-result-source-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 50%;
    padding: 3px;
}
.search-result-source-icon img {
    width: 100%;
    height: auto;
    display: block;
}

.page-audio-player {
    width: 98%;
    max-width: 800px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.playlist-select-radio-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
}

.playlist-select-radio {
    display: flex;
}

.playlist-select-radio input {
    display: none;
}

.playlist-select-radio label {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0.2em 1em;
    font-size: 0.9em;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,.125);
    cursor: pointer;
}

.playlist-select-checked,
.playlist-select-unchecked {
    font-size: 1em;
    margin-right: 0.5em;
}

.playlist-select-radio input ~ label .playlist-select-checked {
    display: none;
}
.playlist-select-radio input:checked ~ label .playlist-select-checked {
    display: block;
}
.playlist-select-radio input:checked ~ label .playlist-select-unchecked {
    display: none;
}

.playlist-select-radio input:checked ~ label {
    background-image: radial-gradient(farthest-corner at 0px 0px, #f35 0%, #be15a2 100%);
}

.toast-success,
.toast-error {
    position: fixed;
    z-index: 10000;
    right: 1em;
    top: 1em;
    padding: 1em;
}
.toast-error {
    background-color: #f35;
}
.toast-success {
    background-color: #11ab4f;
}

.toast-success p,
.toast-error p {
    margin-bottom: 0;
}

.playlist-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-box h5 {
    margin-bottom: 0;
}
.playlist-box p {
    font-size: 0.8em;
    margin-bottom: 0;
}

.playlist-header {
    background-color: #00000052;
}

.header-bg {
    background-color: #dc3372;
    box-shadow: 0px 10px 10px 5px rgb(0 0 0 / 10%);
}

.btn-deezer {
    background-image: radial-gradient(farthest-corner at 0px 0px, #ffed00 -20%, #ff0092 40%, #ff0000 100%);
    background-color: #ff0092;
}
.btn-deezer:hover,
.btn-deezer:active,
.btn-deezer:focus {
    background-color: #ff0000;
}

.btn-spotify {
    background-image: radial-gradient(farthest-corner at 0px 0px, #191414 -50%, #1db954 50%, #149943 100%);
    background-color: #1db954;
}
.btn-spotify:hover,
.btn-spotify:active,
.btn-spotify:focus {
    background-color: #149943;
}

.btn-youtube {
    background-image: radial-gradient(farthest-corner at 0px 0px, #282828 -50%, #ff0000 50%, #c50000 100%);
    background-color: #ff0000;
}
.btn-youtube:hover,
.btn-youtube:active,
.btn-youtube:focus {
    background-color: #c50000;
}

.btn-deezer,
.btn-spotify,
.btn-youtube {
    border-color: rgba(126, 14, 122, 0.6);
    font-weight: 700;
    transition: 0.3s all;
    outline: none;
}
.btn-deezer:hover, .btn-deezer:active, .btn-deezer:focus,
.btn-spotify:hover, .btn-spotify:active, .btn-spotify:focus,
.btn-youtube:hover, .btn-youtube:active, .btn-youtube:focus {
    background-image: none;
    border-color: rgba(126, 14, 122, 0.6);
}
.btn-deezer:active, .btn-deezer:focus, .btn-deezer:active:focus,
.btn-spotify:active, .btn-spotify:focus, .btn-spotify:active:focus,
.btn-youtube:active, .btn-youtube:focus, .btn-youtube:active:focus {
    box-shadow: none;
}
.btn-deezer:hover,
.btn-spotify:hover,
.btn-youtube:hover {
    transform: scale(1.1);
}
.btn-deezer:active:focus,
.btn-spotify:active:focus,
.btn-youtube:active:focus {
    transform: translateY(0.125rem);
}

.search-artist-img .search-result-img-no {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

